<html>

<head>
    <title>BMI Calculator</title>
    <style>
        body {
            text-align: center;
            background: #D3D3D3;
        }
        table{
            width: 400px;
        }
        td {
            padding-bottom: 6px;
        }
    </style>
</head>

<body>
    <h1>BMI Form (Web Version 2018)</h1>
    <b>Total visitor:</b> <%= page_counter %><br><br>
    <table align="center">
        <tr>
            <td>Name</td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <td>Weight (kg)</td>
            <td><input type="number" name="weight"></td>
        </tr>
        <tr>
            <td>Height (m)</td>
            <td><input type="number" name="height"></td>
        </tr>
        <tr>
            <td>Date (dd-mm-yyyy)</td>
            <td><input type="date" name="date"></td>
        </tr>
    </table>

    <button type="button" onclick="reset()">Reset</button>
    <button type="button" onclick="validate()">Submit</button>
    <br>
    <h2 id="output"></h2>


    <script>
        function reset() {
            document.getElementById("output").innerText = "";
            var elements = document.getElementsByTagName("input");
            for (var i = 0; i < elements.length; i++) {
                if (elements[i].type == "text" || elements[i].type == "number" || elements[i].type == "date") {
                    elements[i].value = "";
                }
            }
        }

        function validate() {
            var elements = document.getElementsByTagName("input");
            for (var i = 0; i < elements.length; i++) {
                if (elements[i].value == "") {
                    alert("Enter all values correctly");
                    return;
                }
            }
            calculateBMI();
        }

        function getResultString(name, date, BMI) {
            return `Name: ${name}\nDate: ${date}\nBMI: ${BMI}\n`;
        }

        function makeUrl(name, date, height, weight) {
            return `/calculate?name=${name}&date=${date}&height=${height}&weight=${weight}`;
        }

        function calculateBMI() {
            document.getElementById("output").innerText = "Processing...";
            var name = document.getElementsByName("name")[0].value;
            var date = document.getElementsByName("date")[0].value.split('-').reverse().join('-');
            var height = Number(document.getElementsByName("height")[0].value);
            var weight = Number(document.getElementsByName("weight")[0].value);

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("output").innerText = this.responseText;
                }
            };
            var url = makeUrl(name, date, height, weight);
            xhttp.open("GET", url, true);
            xhttp.send();
        }
    </script>
</body>

</html>